#page.people
  - shadowbox 'page_content' do
    %h1
      .title_actions
        = link_to t('people.edit.cancel'), @person
      = t('people.edit.title', :full_name => @person.full_name)
    - form_for @person do |form|
      = render :partial => form
      %hr
      %p
        = submit_tag t('people.edit.submit')
        &nbsp;|&nbsp;
        = link_to t('people.edit.cancel'), @person, :class => 'red'
