<% content_for :header do -%>
  <%= stylesheet_link_tag "easy_contacts/default", :media => :all %>
  <%= stylesheet_link_tag "easy_contacts/contacts", :media => :all %>
<% end -%>
<h1>
  <div class="title_actions">
    <%= link_to t("people.new.cancel"), contacts_url %>
  </div>
  <%= t "people.new.title" %>
</h1>
<% form_for @person do |form| %>
  <%= render :partial => form %>
  <hr />
  <p>
    <%= submit_tag t("forms.save") %>&nbsp;<%= t("forms.or") %>
    <%= link_to t("forms.cancel"), contacts_url, :class => :red %>
  </p>
<% end -%>
