#page.people
  - shadowbox 'page_content' do
    %h1
      .title_actions= link_to t('people.new.cancel'), contacts_url
      = t('people.new.title')
    - form_for @person do |form|
      = render form
      %hr
      %p
        = submit_tag t('people.new.submit')
        &nbsp;|&nbsp;
        = link_to t('people.new.cancel'), contacts_url, :class => :red
