<% shadowbox "contact_details" do %>
  <h1>
    <div class="title_actions">
      <%= link_to t("actions.edit"), edit_polymorphic_url(contact_info) %>
    </div>
    <%= t("contacts.info.title", :name => contact_info.name) %>
  </h1>
  <% unless contact_info.phones.blank? -%>
    <table>
      <tr>
        <td class="label"><%= t("activerecord.attributes.phone.number") %></td>
        <td>
          <% for phone in contact_info.phones -%>
            <%= phone.number %>
            <span class="comment"><%= phone.phone_type.description %></span><br />
          <% end -%>
        </td>
      </tr>
    </table>
  <% end -%>
  <% unless contact_info.emails.blank? -%>
    <table>
      <tr>
        <td class="label"><%= t("activerecord.attributes.email.address") %></td>
        <td>
          <% for email in contact_info.emails -%>
            <%= auto_link email.address %>
            <span class="comment"><%= email.email_type.description %></span><br />
          <% end -%>
        </td>
      </tr>
    </table>
  <% end -%>
  <% unless contact_info.web_sites.blank? -%>
    <table>
      <tr>
        <td class="label"><%= t("activerecord.attributes.web_site.address") %></td>
        <td>
          <% for web_site in contact_info.web_sites -%>
            <%= auto_link web_site.address %>
            <span class="comment"><%= web_site.web_site_type.description %></span><br />
          <% end -%>
        </td>
      </tr>
    </table>
  <% end -%>
  <% unless contact_info.addresses.blank? -%>
    <table>
      <% for address in contact_info.addresses -%>
      <tr>
        <td class="label"><%= address.address_type.description %></td>
        <td>
          <%= address.address.gsub(/\n/,'<br />') %><br />
          <%= address.city.name %>, <%= address.province.name %><br />
          <%= address.country.name %>&nbsp;<%= address.zip %>
        </td>
      </tr>
      <% end -%>
    </table>
  <% end -%>
<% end %>
