- shadowbox 'contact_details', :class => 'sidebar_section'  do
  %h1
    .title_actions= link_to t('.edit', :default => 'Edit'), edit_polymorphic_url(contact)
    = t '.title', :name => contact.name, :default => '{{name}}'
  - unless contact.phones.empty?
    %table
      %tr
        %th.label= t('.phone', :default => 'Phone')
        %td
          = render contact.phones
  - unless contact.emails.empty?
    %table
      %tr
        %th.label= t('.email', :default => 'Email')
        %td
          = render contact.emails
  - unless contact.websites.empty?
    %table
      %tr
        %th.label= t('.website', :default => 'Website')
        %td
          = render contact.websites
  - unless contact.instant_messengers.empty?
    %table
      %tr
        %th.label= t('.instant_messenger', :default => 'Messaging')
        %td
          = render contact.instant_messengers
  - unless contact.addresses.empty?
    %table
      = render contact.addresses
