%h2= t 'contacts.form.phones.title'
= insert_phones form
= insert_new_phone_link form

%h2= t 'contacts.form.emails.title'
= insert_emails form
= insert_new_email_link form

%h2= t 'contacts.form.instant_messengers.title'
= insert_instant_messengers form
= insert_new_instant_messenger_link form

%h2= t 'contacts.form.websites.title'
= insert_websites form
= insert_new_website_link form

%h2= t 'contacts.form.addresses.title'
= insert_addresses form
= insert_new_address_link form