%h2= t '.phones_title', :default => 'Phone Numbers'
= insert_phones form
= insert_new_phone_link form

%h2= t '.emails_title', :default => 'Email Addresses'
= insert_emails form
= insert_new_email_link form

%h2= t '.websites_title', :default => 'Internet'
= insert_websites form
= insert_new_website_link form

%h2= t '.instant_messengers_title', :default => 'Instant Messaging'
= insert_instant_messengers form
= insert_new_instant_messenger_link form

%h2= t '.addresses_title', :default => 'Addresses'
= insert_addresses form
= insert_new_address_link form
