- title t('.title', :name => @company.name, :default => 'Edit {{name}}')

#page.companies
  - shadowbox 'page_content' do
    = user_feedback
    .title_actions= link_to t('.cancel', :default => 'Cancel'), @company
    - form_for @company do |form|
      = render form
      %hr
      %p
        = submit_tag t('.submit', :default => 'Save')
        &nbsp;|&nbsp;
        = link_to t('.cancel', :default => 'Cancel'), @company, :class => :red
