#page
  - shadowbox 'page_content' do
    %h1
      .title_actions= link_to t('companies.edit.cancel'), @company
      = t('companies.edit.title', :name => @company.name)
    - form_for @company do |form|
      = render form
      %hr
      %p
        = submit_tag t('companies.edit.submit')
        = link_to t('companies.edit.cancel'), @company, :class => :red
