#page.companies
  - shadowbox 'page_content' do
    %h1
      .title_actions= link_to t('companies.new.cancel'), contacts_url
      = t('companies.new.title')
    - form_for @company do |form|
      = render form
      %h1
      %p
        = submit_tag t('companies.new.submit')
        &nbsp;|&nbsp;
        = link_to t('companies.new.cancel'), contacts_url, :class => :red
