%tr
  %th.label
    %p= address.type.description
  %td
    %p
      = address.address.gsub /\n/, '<br />'
      %br
      = "#{address.city.name}, #{address.province.name}"
      %br
      = "#{address.country.name}&nbsp;#{address.zip}"
