- content_tag_for :li, form.object do
  - content_tag :p do
    = form.text_field :nick
    = insert_instant_messenger_protocol_options form
    = insert_instant_messenger_type_options form
    = insert_delete_instant_messenger_link form
    %br
    = form.error_message_on :nick
