- content_tag_for :li, form.object do
  - content_tag :p do
    - unless form.object.new_record?
      = form.hidden_field :id
    = form.text_field :address
    = insert_email_type_options form
    = insert_delete_email_link form
    %br
    = form.error_message_on :address
